<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>뽀로로톡- 친구 목록</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/friends.css" >
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/userlist.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link href="../static/img/pororo.png" rel="icon">
    <style id="dark-reader-style" type="text/css">@media screen {
        html {-webkit-transition : -webkit-filter 300ms linear;}
    }</style>
</head>
<body>
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__btn">
            <a class="active" href="/pororo/friends">
                <i class="fas fa-user fa-2x" aria-hidden="true">
                </i>
            </a>
        </li>
        <li class="nav__btn">
            <a href="/pororo/chats">
                <i class="fas fa-comment fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="container">
    <header class="header">
        <h3 class="header__title">친구</h3>
        <div class="header__menu">
            <span><i class="fas fa-search" aria-hidden="true"></i></span>
            &nbsp;
            <span><i class="fas fa-user-plus" aria-hidden="true"></i></span>
        </div>
    </header>

    <main class="friends">
        <div class="user my-profile">
            <div class="user__column">
                <div class="user__pic"></div>
            </div>
            <div class="user__column">
                <p class="user__nick">뽀로로</p>
                <p class="user__state">노는게 제일좋아</p>
            </div>
        </div>
        <div class="friends__menu">
            <span class="friends__menu__header">친구 10</span>
        </div>
        <div class="user-list">
            <div class="user">
                <div class="user__column">
                    <div id="crong" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">크롱</p>
                    <p class="user__state">크롱 크롱</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="loopy" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">루피</p>
                    <p class="user__state">파이 먹을사람</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="eddy" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">에디</p>
                    <p class="user__state">아이언맨 개발중</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="rody" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">로디</p>
                    <p class="user__state">0010010</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="petty" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">패티</p>
                    <p class="user__state">심심</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="poby" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">포비</p>
                    <p class="user__state">배고파..</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="harry" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">해리</p>
                    <p class="user__state">짹짹</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="tong" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">통통이</p>
                    <p class="user__state">뽀롱뽀롱섬 일짱</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="popo" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">뽀뽀</p>
                    <p class="user__state">POPO</p>
                </div>
            </div>
            <div class="user">
                <div class="user__column">
                    <div id="pipi" class="user__pic"></div>
                </div>
                <div class="user__column">
                    <p class="user__nick">삐삐</p>
                    <p class="user__state">PIPI</p>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://kit.fontawesome.com/c8e2b99a17.js" crossorigin="anonymous"></script>
</body>
</html>