<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>뽀로로톡 - 로그인</title>
</head>
<link rel="stylesheet" href="../static/index.css">
<link rel="stylesheet" href="../static/common.css">
<link href="../static/img/pororo.png" rel="icon">
<body>
<div class="container">
    <div class="login">
        <div class="login__box">
            <h1 class="login__logo"></h1>
            <h3 class="login__title">뽀로로톡</h3>
            <form class="login__form" action="./friends">
                <input class="login__form__id" type="text" placeholder="뽀로로계정 (이메일 또는 전화번호)">
                <input class="login__form__pw" type="password" placeholder="비밀번호">
                <input class="login__form__bt" type="submit" value="로그인">
            </form>
        </div>
        <p class="login__account">
            뽀로로 계정 찾기&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;비밀번호 재설정
        </p>
    </div>
</div>
</body>
</html>